# Dependencies
node_modules

# Build outputs
dist
*.tgz

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# Cache
.cache
